<!DOCTYPE html>
<html lang="en">

    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="How much time is between two dates? What is the date exactly four weeks from today? Plug in a start date and either an end date or a period of time to add/subtract, DateDiff does the rest.">
        <meta name="keywords" content="date calculator, date difference, date addition, date subtraction">
        <meta name="author" content="Cory Romdenne">
        
        <title>DayDiff</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
        
        <!-- Font Awesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Cabin" rel="stylesheet">
        
        <!-- custom styles -->
        <link href="css/styles.css" rel="stylesheet">
    
    </head>
    
    <body>

        <div id="content" class="container-fluid text-center">
            <div class="row">
                <h1 class="hero text-gradient">DayDiff</h1>
            </div><!-- /.row -->
            <div id="diff-form" class="row">
                <div class="col-md-4">
                    <input class="diff-input" type="text" name="diff-start" placeholder="start date" v-model="diffStart">
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="select-div">
                        <select class="diff-input" name="diff-select" v-model="selected">
                            <option value="to">to</option>
                            <option value="plus">plus</option>
                            <option value="minus">minus</option>
                        </select>
                    </div><!-- /.select-div -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <input class="diff-input" type="text" name="diff-end" placeholder="end date" v-if="selected === 'to'" v-model="diffEnd">
                    <input class="diff-input diff-input-sm" type="text" name="diff-plus" placeholder="time" v-if="selected === 'plus'" v-model="diffPlus">
                    <input class="diff-input diff-input-sm" type="text" name="diff-minus" placeholder="time" v-if="selected === 'minus'" v-model="diffMinus">
                    <div class="select-div" v-if="selected === 'plus' || selected === 'minus'">
                        <select class="diff-input" name="diff-time" v-model="timeUnit">
                            <option value="days">days</option>
                            <option value="weeks">weeks</option>
                            <option value="months">months</option>
                            <option value="years">years</option>
                        </select>
                    </div><!-- /.select-div -->
                </div><!-- /.col-md-4 -->
            </div><!-- /#diff-form -->
            <div class="row">
                <button id="diff-submit" class="diff-input" v-on:click="dateToDate()">Submit</button>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
                    <div id="result">{{result}}</div>
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /#content -->


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- Vue.js -->
        <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>

        <!-- Moment JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Datepicker -->
        <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>

        <!-- custom scripts -->
        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>